.chanel_bendichanpin_floor2{margin-top:25px}
.chanel_bendichanpin_floor2 ul{width: 1200px;margin: 3px;}
.chanel_bendichanpin_floor2 .store{
    height: 410px;
    color: #000;
}

.chanel_bendichanpin_floor2 .store .title{font-size: 20px;height: 33px;}
.chanel_bendichanpin_floor2 .store .content{height: 348px;border-top:2px solid #000;}
.chanel_bendichanpin_floor2 .store .content .left{height: 348px;width: 190px;float: left;position:relative;font-size: 18px;}
.chanel_bendichanpin_floor2 .store .content .left .introduce{margin-top:20px;margin-left:10px;overflow:hidden;position:absolute;width:180px;height:330px;z-indent:2;left:0;top:0;}
.chanel_bendichanpin_floor2 .store .content .left h1{font-size: 18px;}
.chanel_bendichanpin_floor2 .store .content .left p{font-size: 14px;text-indent:2em}
.chanel_bendichanpin_floor2 .store .content .mid{height: 348px;width: 546px;float: left}
.chanel_bendichanpin_floor2 .store .content .right{height: 348px;width:464px;float: right; }
.chanel_bendichanpin_floor2 .store .content .right a{float:left;border-right: 1px solid RGB(235,235,235);border-bottom: 1px solid RGB(235,235,235);}
